// footer / navigation styling

footer {
    background-color: #E7E8E9;
    color: white;
    height: 100px;
    margin-top: 60px;
    z-index: 1;

    .footer-bar {
        @include grid-row();

        .copy-area {
            @include grid-column(6);
            padding: 0p;
            margin: 0px;
            color: #0D6997;
            height: 50px;
            line-height: 50px;

        }


        .right {
            @include grid-column(6);
            padding: 0px;
            margin: 0px;
            display: flex;
            justify-content: space-between;

            a {
                flex-direction: row;
                width: 20%;
                text-align: right;
                text-decoration: none;
                color: #0D6997;

                li {
                    list-style: none;
                    flex-direction: row;
                    text-align: center;
                    height: 50px;
                    line-height: 50px;
                }
            }

            .active {
                font-weight: bold;
            }
        }

    }


}

