    .right {
        margin-top: 90px;
        padding: 10px;
        z-index: 0;
        
        .sticky {
            position: fixed;
            width: 30%;
        
        .side-bar {
            @include grid-column(9);

            button {
                padding: 10px;
                border-width: 1px;
                width: 100%;
                font-size: 1.3rem;
                font-weight: bold;
                background-color: #640B5F;
                color: white;
                margin-bottom: 20px;
            }

            .content {

                .headers {
                    display: flex;

                    h3 {
                        flex-direction: row;
                        text-align: center;
                        padding: 5px;
                        margin-bottom: 0px;
                        color: #4798C3;
                    }

                    #newsButton, #archiveButton {
                        color: inherit;
                        margin: 0px;
                        padding: 0px;
                        background-color: inherit;
                    }

                    .news-header {
                        background-color: #DDEBE1;
                        width: 35%;
                        border: solid;
                        border-left: none;
                        border-right: none;
                        border-width: 1px;
                        border-color: gray;
                    }

                    .archive-header {
                        background-color: #DDEBE1;
                        width: 45%;
                        border: solid;
                        border-left: none;
                        border-width: 1px;
                        border-color: gray;
                    }

                    .blank {
                        width: 30%;
                        border: solid;
                        border: none;
                        border-bottom: solid;
                        border-width: 1px;
                        border-color: gray;
                        color: white;
                    }

                    .active {
                        background-color: #F5F5F5;
                        border-bottom: none;
                        margin-top: 5px;
                        padding-top: 19px;
                        color: #646464;
                    }

                    .active.news-header {
                        border-right: solid;
                        border-width: 1px;
                        border-color: gray;
                    }

                    .active.archive-header {
                        border-left: solid;
                        border-width: 1px;
                        border-color: gray;
                    }
                }

                .news, .archive {
                    background-color: #F5F5F5;
                    padding: 15px;

                    ul {
                        padding: 0px;
                        margin: 0px;

                        li {
                            margin-top: 20px;
                            list-style: none;

                            h3 {
                                font-weight: bold;
                                margin: 0px;
                                color: #4798C3;
                            }

                            p {
                                margin: 0px;
                            }
                        }
                    }
                }

                .archive {
                    
                    ul {

                        li {
                            margin-top: 10px;

                            a {
                                margin: 0px;
                                text-decoration: none;
                                color: #4798C3;
                                font-size: 1.2rem;
                                font-weight: bold;
                            }
                        }
                    }
                }

                .hide {
                    display: none;
                }
            }
        }
    }
}


.right:last-child:not(:first-child) {
    float: left; 
}

