@import 'node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;

@import 'header';
@import 'main';

td {
    width: 10px;
    height: 10px;
    border: solid;
    border-width: 1px;
}
