@import 'node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;

@import 'header';
@import 'left';
@import 'right';
@import 'footer';

body {
    font-family: 'Roboto', sans-serif;
    color: #646464;
}


.offset:before { 
	display: block; 
 	content: " "; 
  	height: 50px;      /* Give height of your fixed element */
        margin-top: -50px; /* Give negative margin of your fixed element */  	
        visibility: hidden; 
}
